---
import Discretize from "../../icons/discretize.astro";
import NavBuilds from "./NavBuilds.astro";
import NavDropdown from "./NavDropdown.astro";
import DarkModeSwitch from "./DarkModeSwitch.astro";
import type { EliteSpecTypes, ProfessionTypes } from "@gw2-ui/data/professions";
import Discord from "../../icons/discord.astro";
import { Icon } from "astro-icon";
import Link from "../Link.astro";
import { BACKGROUND, BORDER, TEXT } from "src/styles";

async function getBuilds() {
  // load markdown files and return the frontmatter
  const builds = await Astro.glob("../../../discretize-guides/builds/**/*.mdx");

  const navigationData = builds
    .filter((build) => build.frontmatter.archive !== true)
    .map((build) => ({
      title: build.frontmatter.title,
      rating: build.frontmatter.rating,
      profession: build.frontmatter.profession as ProfessionTypes,
      specialization: build.frontmatter.specialization as EliteSpecTypes,
      url: build.url.replace("discretize-guides", "").replace("/index.mdx", ""),
    }));

  const data = {};
  navigationData.forEach((build) => {
    if (!data[build.profession]) {
      data[build.profession] = [];
    }
    data[build.profession].push(build);
  });

  return data;
}

async function getGuides() {
  // load markdown files and return the frontmatter
  const guides = await Astro.glob("../../../discretize-guides/guides/**/*.mdx");

  const navigationData = guides.map((guide) => ({
    title: guide.frontmatter.title,
    url: guide.url.replace("discretize-guides", "").replace("/index.mdx", ""),
  }));

  return navigationData;
}

const builds = await getBuilds();
const guides = await getGuides();
---

<script>
  const button = document.querySelector("#toggleMobileNav");
  const overlay = document.querySelector("#overlay");
  const drawer = document.querySelector("#mobileDrawer");

  button.addEventListener("click", () => {
    drawer.classList.toggle("hidden");

    overlay.classList.toggle("hidden");
  });

  overlay.addEventListener("click", () => {
    drawer.classList.toggle("hidden");

    overlay.classList.toggle("hidden");
  });
</script>

<div class="topArea bg-sky-50 dark:bg-zinc-900">
  <div class="topButtonArea flex items-center justify-between">
    <Link href="/" label="Home">
      <Discretize className="h-12" />
    </Link>

    <div class="max-md:hidden">
      <DarkModeSwitch />
    </div>
    <button id="toggleMobileNav" class="rounded md:hidden hamburgerButton">
      <Icon name="mdi:menu" size="2rem" />
    </button>
  </div>
</div>

<div
  id="overlay"
  class="hidden z-10 top-0 fixed right-auto bottom-auto top-0 left-0 w-full h-full opacity-50 bg-black dark:bg-black-900"
>
</div>
<div
  id="mobileDrawer"
  class={`${BACKGROUND} drawer hidden right-auto bottom-auto top-0 left-0 fixed inset w-[300px] h-full z-50 overflow-x-hidden p-4`}
>
  <div class="flex justify-between items-center flex-col gap-4">
    <Link href="/" label="Home">
      <Discretize className="h-12" />
    </Link>

    <Link className="discretizeNavButton" disablePrefetch href="/builds">
      Builds
    </Link>

    <Link className="discretizeNavButton" disablePrefetch href="/guides">
      Guides
    </Link>

    <Link className="discretizeNavButton" disablePrefetch href="/fractals">
      Fractals
    </Link>

    <Link className="discretizeNavButton" disablePrefetch href="/augmentations">
      Augmentations Calc
    </Link>

    <Link
      href="https://discord.gg/TGrhn8qjYT"
      disablePrefetch
      label="Discord Link"
    >
      <button
        class={`rounded-full ${BORDER} p-[2px] border-[0.0626rem] p-0 w-10 h-10 mx-2`}
        aria-label="Discord Link"
      >
        <Discord className="w-8 h-8" />
      </button>
    </Link>

    <DarkModeSwitch />
  </div>
</div>

<nav
  class=`shadow z-10 top-0 mt-0 sticky bg-stone-100 dark:bg-zinc-800 max-md:hidden`
>
  <div class="lowerArea border-t-4 border-blue-500">
    <div class={`buttonArea flex items-center ${TEXT} max-h-[40px]`}>
      <NavBuilds builds={builds} />
      <NavDropdown title="Guides" content={guides} slug="/guides" />
      <Link className="discretizeNavButton" disablePrefetch href="/fractals">
        Fractals
      </Link>

      <Link
        className="discretizeNavButton"
        disablePrefetch
        href="/augmentations"
      >
        Augmentations Calc
      </Link>

      <Link
        className="discretizeNavButton flex-grow"
        disablePrefetch
        href="https://optimizer.discretize.eu"
      >
        Optimizer
      </Link>

      <Link
        href="https://discord.gg/TGrhn8qjYT"
        disablePrefetch
        label="Discord Link"
      >
        <button
          class={`rounded-full ${BORDER} p-[2px] border-[0.0626rem] p-0 w-10 h-10 mx-2`}
          aria-label="Discord Link"
        >
          <Discord className="w-8 h-8" />
        </button>
      </Link>
    </div>
  </div>
</nav>

<style>
  .drawer {
    transition: left 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
  }

  :global(.discretizeNavButton) {
    font-weight: 500;
    font-size: 1.3rem;
    font-family: Muli;
  }

  .topButtonArea {
    max-height: 4rem;
    padding: 2rem 0rem;
    max-width: 1400px;
    margin: 0 auto;
  }
  @media (max-width: 1400px) {
    .topButtonArea {
      padding: 2rem 1rem;
    }
  }
  .buttonArea {
    width: 100%;
    gap: 2.2rem;
    max-width: 1400px;
    margin: 0 auto;
  }
  .lowerArea {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 100%;
  }
</style>
