---
import { BACKGROUND } from "src/styles";
import Link from "../Link.astro";

export type NavItem = {
  title: string;
  url: string;
};

interface Props {
  content: NavItem[];
  title: string;
  slug: string;
}

const { content, title, slug } = Astro.props;
---

<ul class={`nested-dropdowns`}>
  <li>
    <Link href={slug} className="m-0 discretizeNavButton" disablePrefetch>
      {title}
    </Link>
    <ul class={`${BACKGROUND} shadow`}>
      {
        content.map((entry) => (
          <li class="dark:hover:bg-gray-100/20 hover:bg-gray-300">
            <Link
              href={entry.url}
              className="w-full whitespace-nowrap p-3 flex h-[48px]"
            >
              {entry.title}
            </Link>
          </li>
        ))
      }
    </ul>
  </li>
</ul>

<style>
  .nested-dropdowns {
    /* Border */
    display: flex;

    /* Reset list styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nested-dropdowns li {
    cursor: pointer;

    /* Used to position the sub nested-dropdowns */
    position: relative;
  }

  /* The sub nested-dropdowns */
  .nested-dropdowns ul {
    /* Hidden by default */
    display: none;

    /* Absolute position */
    left: 0;
    position: absolute;
    top: 100%;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* Show the direct sub nested-dropdowns when hovering the list item */
  .nested-dropdowns li:hover > ul {
    display: block;
  }
</style>

<style is:global>
  body:has(> .nested-dropdowns li) .main {
    opacity: 0.5;
    transition: all 0.7s ease;
  }
</style>
