---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import Profession from "./gw2-ui/Profession.astro";
import images from "./images";

export interface BuildCardProps {
  title: string;
  role: string;
  date: string;
  profession: string;
  specialization: string;
  cmGuide: boolean;
  uptodate: boolean;
  rating: number;
  slug: string;
  archive: boolean;
}

const UPDATED_LAST_X_DAYS = 30;
const {
  title,
  specialization,
  profession,
  slug,
  date,
  cmGuide,
  role,
  rating,
  uptodate = { guide: true, gear: true },
  archive = false,
} = Astro.props;

const pcM = `var(--gw2-color-${profession.toLowerCase()}-main)`;
const pcL = `var(--gw2-color-${profession.toLowerCase()}-light)`;
---

<a
  href={`/builds/${slug}`}
  class={`buildLink ${rating.toLowerCase().replace(" ", "")} ${
    archive ? "archive" : ""
  }`}
>
  <article class="row outer round">
    <Image
      src={images[specialization.toLowerCase()]}
      width={100}
      height={100}
      alt={specialization}
      class="image"
    />
    <p class="title">
      <Profession name={specialization} disableText className="spec" />
      {title}
      {
        // if this build was updated in the last 7 days, show a new tag
        new Date(date).getTime() >
        new Date().getTime() - UPDATED_LAST_X_DAYS * 24 * 60 * 60 * 1000 ? (
          <span class="badge">Updated</span>
        ) : undefined
      }
    </p>

    <div class="lastUpdated m l">
      <Icon
        name="mdi:clock-outline"
        height="2rem"
        class={`${
          uptodate.guide && uptodate.gear
            ? "green"
            : uptodate.guide || uptodate.gear
            ? "yellow"
            : "red"
        } update-icon`}
      />
      <div class="tooltip top">
        Gear: {uptodate.gear ? "up-to-date" : "not updated"}<br />
        Guide: {uptodate.guide ? "up-to-date" : "not updated"}
      </div>
    </div>

    <div class="tags l">
      {
        [rating, role].map((tag) => {
          return (
            <div class="chip border primary-border primary-text small">
              <span>{tag}</span>
            </div>
          );
        })
      }
    </div>

    <div class="max"></div>

    <div class="l">
      {cmGuide ? <button class="btn btn-primary">CM Guide</button> : undefined}
    </div>

    <button class="btn btn-primary l">Build</button>
  </article>
</a>

<style define:vars={{ pcM, pcL }}>
  .outer {
    height: 120px;
    width: 100%;
    border: 1px solid var(--pcM);
  }
  .outer:hover {
    border: 1px solid var(--pcL);
  }
  .title {
    margin-left: 3rem !important;
  }
  .buildLink {
    display: block;
    margin-bottom: 1rem;
  }
  .lastUpdated {
    position: absolute;
    left: 500px;
    font-size: 1rem;
  }
  .tags {
    position: absolute;
    left: 700px;
  }
  @media (max-width: 900px) {
    .lastUpdated {
      position: relative;
      left: 0;
    }
    .title {
      margin-left: 0 !important;
    }
    .tags {
      position: relative;
      left: 0;
    }
  }
  .update-icon {
    color: black;
  }
  .spec {
    font-size: 1.5rem !important;
  }

  .archive {
    display: none;
  }
</style>
