---
import { Item } from "@gw2-ui/components";
import { TOC } from "astro-toc";
import imageFetch from "src/utils/imageFetch";
import Card from "../Card.astro";
import Grid from "../Grid.astro";
import GridItem from "../GridItem.astro";
import Attribute from "../gw2-ui/Attribute.astro";
import Table from "../html-components/table.astro";
import Tbody from "../html-components/tbody.astro";
import Td from "../html-components/td.astro";
import Th from "../html-components/th.astro";
import Tr from "../html-components/tr.astro";
import TextDivider from "../TextDivider.astro";
import Header from "./Header.astro";

export interface Props {
  title: string;
  cycle: string;
  sigils: { id: number }[];
  potions: { id: number }[];
  description: string;
  date: string;
  difficulties: { level: number; ar: number }[];
  image: string;
  long_description: string;
  headings: {
    depth: number;
    slug: string;
    text: string;
  }[];
}

const {
  title,
  cycle,
  sigils,
  potions,
  description,
  date,
  difficulties,
  image,
  long_description,
  headings,
} = Astro.props;

const images = Object.keys(
  import.meta.glob(`../../../discretize-guides/fractals/*/images/header.jpg`, {
    import: "default",
  })
);
const headerImage = await imageFetch(images, Astro.url.pathname);
---

<Header
  title={difficulties.map((d) => d.level).join(", ") + " " + title}
  description={description}
  date={date}
  image={headerImage}
/>

{long_description && <p class="mb-4">{long_description}</p>}

<TextDivider text="Details" />

<section class="mb-4">
  <Grid>
    <GridItem>
      <Table>
        <Tbody>
          <Tr>
            <Th>Difficulties</Th>
            <Td>
              {
                difficulties.map((d) => (
                  <>
                    Level {d.level} -{" "}
                    <Attribute
                      name="Agony Resistance"
                      text={d.ar + " Agony Resistance"}
                    />
                    <br />
                  </>
                ))
              }
            </Td>
          </Tr>
          <Tr>
            <Th>Cycle</Th>
            <Td>{cycle}</Td>
          </Tr>

          {
            potions ? (
              <Tr>
                <Th>Potions</Th>
                <Td>
                  <ul>
                    {potions.map((p) => (
                      <li>
                        <Item client:visible id={p.id} />
                      </li>
                    ))}
                  </ul>
                </Td>
              </Tr>
            ) : null
          }

          {
            sigils ? (
              <Tr>
                <Th>Sigils</Th>
                <Td>
                  <ul>
                    {sigils.map((s) => (
                      <li>
                        <Item client:visible id={s.id} />
                      </li>
                    ))}
                  </ul>
                </Td>
              </Tr>
            ) : null
          }
        </Tbody>
      </Table>
    </GridItem>
    <GridItem>
      <div class="md:flex md:flex-row-reverse">
        <Card title="Table of contents" className="!mt-0">
          <TOC
            toc={headings.map((heading) => ({
              title: heading.text,
              url: "#" + heading.slug,
              depth: heading.depth - 1,
            }))}
            maxDepth={2}
            as="number"
          />
        </Card>
      </div>
    </GridItem>
  </Grid>
</section>

<TextDivider text="Guide" />
