---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";

const { title, description, image: headerImage, date } = Astro.props;
---

<div class="headerMobile">
  <h1>{title}</h1>

  <Picture
    src={headerImage}
    alt="Header"
    width={1280}
    height={500}
    widths={[550]}
    aspectRatio={1280 / 500}
    class="headerImage"
    sizes="100vw"
  />
</div>

<div class="headerImageWrapper">
  <Picture
    src={headerImage}
    alt="Header"
    width={1280}
    height={500}
    widths={[1200, 1920]}
    aspectRatio={1280 / 500}
    class="headerImage"
  />

  <div class="headerImageOverlay">
    <h1>{title}</h1>
    <small>{description}</small>
  </div>

  <div class="headerImageOverlayCorner">
    <small>
      <Icon name="mdi:calendar" height="0.8rem" /> last updated on {
        new Date(date).toDateString()
      }
    </small>
  </div>
</div>

<style>
  .headerMobile {
    display: none;
  }

  @media (max-width: 600px) {
    .headerMobile {
      display: block;
    }
  }

  .headerImage {
    width: 100%;
    height: auto;
  }

  .headerImageWrapper {
    position: relative;
    height: 100%;

    margin-left: -1.4rem;
    margin-right: -1.4rem;
    margin-top: -1.4rem;

    margin-bottom: 1rem;
  }

  @media (max-width: 600px) {
    .headerImageWrapper {
      display: none;
    }
  }

  .headerImageOverlay {
    position: absolute;
    top: 50%;
    left: 0;
    max-width: 100%;
    height: 120px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    padding: 1rem;
    background: var(--primary);

    color: var(--on-primary);
  }

  .headerImageOverlay h1 {
    margin-bottom: 0;
    font-weight: 600;
  }

  .headerImageOverlayCorner {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3rem;
    font-size: 0.9.rem;
    background: var(--primary);
    color: var(--on-primary);
  }
</style>
