---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";

const { title, description, image: headerImage, date } = Astro.props;
---

<div class="sm:hidden">
  <h1>{title}</h1>

  <Picture
    src={headerImage}
    alt="Header"
    width={1280}
    height={500}
    widths={[640]}
    aspectRatio={1280 / 500}
    sizes="100vw"
  />
</div>

<div
  class="relative h-full mx-[-1.4rem] mt-[-1.393rem] mb-4 max-sm:hidden max-[1439px]:mt-[-1rem] max-[1439px]:mx-[-1rem]"
>
  <Picture
    src={headerImage}
    alt="Header"
    width={1280}
    height={500}
    widths={[1440]}
    aspectRatio={1280 / 500}
    sizes="1440px"
    class="w-full"
  />

  <div
    class="transform translate-y-[-50%] absolute top-1/2 left-0 max-w-full h-[120px] flex justify-between flex-col items-start p-4 bg-blue-500 text-black"
  >
    <h1 class="mb-0 font-semibold">{title}</h1>
    <small>{description}</small>
  </div>

  <div class="absolute top-0 right-0 p-1 text-sm bg-blue-500 text-black">
    <small class="flex gap-1 items-center">
      <Icon name="mdi:calendar" height="0.8rem" /> last updated on {
        new Date(date).toDateString()
      }
    </small>
  </div>
</div>
