---
import { Image, Picture } from "@astrojs/image/components";
import { getMapImage } from "./mapImages";
import Tooltip from "../Tooltip.astro";
import Card from "../Card.astro";
import TableOfContents, { Heading } from "../TableOfContents.astro";

interface Props {
    type: string;
    headings: Heading[];
}

const { type, headings } = Astro.props;

const map = getMapImage(type);

const { src, width, height, SVG, encounters = [] } = map || {};

const encounter_buttons = encounters.map((elem, index) => ({
    ...elem,
    ...headings[index],
}));
---

{
    src ? (
        <div
            class={`relative`}
            style={{ maxWidth: width + "px", maxHeight: height + "px" }}
        >
            <svg
                class="absolute z-20"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="500"
                height="518"
                fill="transparent"
            >
                <a href={"#" + encounter_buttons[3].slug}>
                    <polygon
                        class="hover:fill-blue-200/30"
                        points="227,450 369,452 373,157 255,165 257,334 227,450"
                    />
                </a>
                <a xlink:href="">
                    <circle
                        class="hover:fill-blue-200/30"
                        cx="425"
                        cy="264"
                        r="49"
                    />
                </a>
                <a xlink:href="">
                    <circle
                        class="hover:fill-blue-200/30"
                        cx="123"
                        cy="346"
                        r="58"
                    />
                </a>
                <a xlink:href="">
                    <polygon
                        class="hover:fill-blue-200/30"
                        points="66,98 235,98 235,194 66,194 66,98"
                    />
                </a>
            </svg>
            <Image src={src} alt="Map" width={width} height={height} />

            <div class="absolute z-10 top-0 left-0 w-full">
                <SVG width={width} height={height} />
            </div>
            {encounter_buttons.map(
                ({ depth, isMajor, text, slug, xPercent, yPercent }, index) => (
                    <div
                        class="absolute z-20"
                        style={{
                            top: `${xPercent}%`,
                            left: `${yPercent}%`,
                        }}
                    >
                        <Tooltip>
                            <button
                                slot="target"
                                class={`btn btn-circle ${
                                    isMajor
                                        ? "btn-primary"
                                        : "btn-secondary w-8 h-8 !min-h-fit"
                                }`}
                                onclick={`
                                window.scrollTo({ top: document.querySelector('#${slug}').offsetTop - 70, behavior: 'smooth' });
                                `}
                            >
                                {index + 1}
                            </button>
                            <div slot="tooltip" aria-label="Tooltip">
                                <h4 class="!mb-2">{text}</h4>
                                <span class="!text-xs">
                                    Click to go to{" "}
                                    {isMajor ? "encounter" : "path"}
                                </span>
                            </div>
                        </Tooltip>
                    </div>
                )
            )}
        </div>
    ) : (
        <Card title="Table of contents" className="!mt-0">
            <TableOfContents headings={headings} offset={-1} />
        </Card>
    )
}
