---
import { Picture } from "@astrojs/image/components";
import ScrollUpButton from "@components/ScrollUpButton.astro";
import backgroundImage from "src/assets/images/backgrounds/lobby.png";
import { BACKGROUND, TEXT } from "src/styles";
import "typeface-muli";
import "typeface-raleway";
import NavBar from "../components/navigation/NavBar.astro";
import "../main.css";
import "./overrides.css";

export interface SEOProps {
  title?: string;
  description?: string;
  image?: string;
  url?: string;
}
export interface Props {
  seo: SEOProps;
  disablePadding?: boolean;
  disableBackground?: boolean;
  disableBackgroundImage?: boolean;
}

const titleTemplate = "%s - GW2 | Discretize [dT]";

const {
  seo: {
    title:
      titleRaw = "GW2 | Discretize [dT] - Fractal, Profession and Mechanics Guides",
    description = "Discretize is a high-end Guild Wars 2 fractal guild. Our guides strive for improving your knowledge of game mechanics, professions and fractals.",
    image = "/logo.png",
    url = "https://discretize.eu",
  } = {},
  disablePadding = false,
  disableBackground = false,
  disableBackgroundImage = false,
} = Astro.props;

const title = titleRaw.startsWith("GW2 | Discretize [dT]")
  ? titleRaw
  : titleTemplate.replace("%s", titleRaw);

let mainClasses = "";
if (!disableBackground) {
  mainClasses += " " + BACKGROUND;
}
if (!disablePadding) {
  mainClasses += " main";
}
mainClasses = mainClasses.trim();
---

<!DOCTYPE html>
<html lang="en" class="dark" data-theme="discretizeDark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />

    <meta name="language" content="english" />
    <meta http-equiv="content-language" content="en" />
    <meta name="application-name" content="Discretize" />
    <meta name="theme-color" content="#2f3136" />

    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="google" content="notranslate" />

    <meta name="msapplication-TileColor" content="#2f3136" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Discretize" />

    <meta name="mobile-web-app-capable" content="yes" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={`/apple-touch-icon.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={`/favicon-32x32.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={`/favicon-16x16.png`}
    />
    <link rel="manifest" href={`/manifest.json`} />
    <link rel="mask-icon" href={`/safari-pinned-tab.svg`} color="#00cccc" />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={url} />
    <meta item-prop="name" content={title} />
    <meta item-prop="description" content={description} />
    <meta item-prop="image" content={image} />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta name="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <!-- <script data-rh="true" type="application/ld+json">
    [
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        url: "https://staging.discretize.eu/builds/engineer/power-mechanist/",
        name: "Discretize",
        alternateName: "Power (Alac) Mechanist - GW2 | Discretize [dT]",
      },
    ];
  </script> -->

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Discretize" />

    <meta name="twitter:card" content="summary_large_image" />

    {
      import.meta.env.PROD && (
        <>
          <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/_astro/raleway-latin-500.789a5712.woff2"
            crossorigin="anonymous"
          />
          <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/_astro/raleway-latin-400.1d94fd1a.woff2"
            crossorigin="anonymous"
          />
          <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/_astro/menomonia.04300bc6.woff"
            crossorigin="anonymous"
          />
        </>
      )
    }
    <script>
      function reloadTheme() {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document.documentElement.setAttribute("data-theme", "discretizeDark");
          localStorage.theme = "dark";
        } else {
          document.documentElement.classList.remove("dark");
          document.documentElement.setAttribute("data-theme", "light");
          localStorage.theme = "light";
        }
      }
      reloadTheme();
    </script>
  </head>
  <body class={TEXT + " " + BACKGROUND}>
    <NavBar />
    <div id="floating-portal"></div>

    <main class={disablePadding ? "" : "mainWrapper"}>
      {
        !disableBackgroundImage && (
          <div class="backgroundImage">
            <Picture
              src={backgroundImage}
              alt="Background"
              aspectRatio="3440:1440"
              formats={["avif", "webp"]}
              widths={[1600, 2160, 3440]}
              sizes="(max-width: 1600px) 10vw, (max-width: 2160px) 50vw, 100vw"
              loading="lazy"
            />
          </div>
        )
      }
      <div class={mainClasses}>
        <slot />
      </div>
    </main>

    <ScrollUpButton />

    <div class={(!disablePadding ? "mt-10 " : "") + "embossed"}>
      <footer class="footer p-10 embossed text-neutral-content main">
        <div>
          <span class="footer-title">Discretize</span>
          <a class="link link-hover" href="/">About us</a>
          <a class="link link-hover" href="/apply">Apply</a>
          <a class="link link-hover" href="https://www.patreon.com/discretize"
            >Patreon</a
          >
        </div>
        <div>
          <span class="footer-title">Contribute</span>
          <a class="link link-hover" href="/cms">CMS</a>
          <a class="link link-hover" href="/docs/guide">Contributution Guide</a>
          <a class="link link-hover" href="/docs">Component Documentation</a>
        </div>
        <div>
          <span class="footer-title">Legal</span>
          <a class="link link-hover" href="/legal">Legal Notice</a>
          <a class="link link-hover" href="/legal">Privacy policy</a>
        </div>
      </footer>
    </div>
  </body>

  <style is:global>
    .backgroundImage {
      display: none;
    }

    @media only screen and (min-width: 1441px) {
      .backgroundImage {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: -1;
        display: block;
      }
      .backgroundImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0.7;
        filter: brightness(0.9);
      }
    }
    .main {
      padding: 1.4rem 1.4rem;
      max-width: 1440px;
      margin: 0 auto;
    }

    .mainWrapper {
      margin-top: 2rem;
      min-height: calc(100vh - 130px);
    }
    @media (max-width: 1439px) {
      .main {
        padding: 1rem;
      }
      .mainWrapper {
        margin-top: 0rem;
      }
    }

    body:has(.nested-dropdowns li:hover) .main {
      filter: brightness(0.5);
      transition: all 0.7s ease;
    }
  </style>
</html>
